@charset "UTF-8";



@media screen and (max-width: 767px) and (orientation: landscape) {

    section#login {
        display: flex;
        flex-direction: row;
        width: 95vw;
        height: 90vh;
    }

    #imagem {
        width: 40%;
        height: 100%;
    }

    #formulario {
        width: 60%;
    }

}