@charset "UTF-8";

/* Celular Landscape */

@media screen and (max-width: 767px) and (orientation: landscape) {

    body {
        background-color: rgb(225, 255, 0);
    }

    section#login {
        display: flex;
        flex-direction: row;
        min-height: 90vh; 
        width: 80vw;
    }

    section#login > div#imagem {
        flex: 0 0 40%;
        height: auto; /* remove qualquer altura fixa anterior */
        background-size: cover;
        background-position: center;
    }

    #formulario {
        flex: 1;
    }

}