@charset "UTF-8";


/* Tablet */
@media screen and (min-width:768px) and (max-width:1200px) {

    body {
        background-color: rgb(255, 0, 0);
    }

    section#login {
        width: 80vw;
        min-height: 80vh;
        display: flex;
    }

    section#login > div#imagem {
        flex: 3;
    }

    section#login > div#formulario {
        flex: 7;
    }
}

/* Grandes Telas */
@media screen and (min-width: 1200px) {

    body {
        background-image: linear-gradient(to top, #49a09d, rgb(0, 0, 105));
    }

    section#login {
        width: 950px;
        min-height: 80vh;
        display: flex;
        flex-direction: row-reverse;
        
        
    }

    section#login > div#imagem {
        flex: 1;
        
        
    }

    section#login > div#formulario {
        flex: 1;
        
        
    }
}

